@font-face {
  font-family: 'norse';
  src: url('fonts/norse-bold.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
}

html {
  display: flex;
  justify-content: center;
  background-color: black;
}

body {
  display: flex;
  background: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
  max-width: 1500px;
  height: 100vh
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  margin: 0;
}

.side-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #00000081;
  margin-top: 25vh;
  padding: 0 5px;
  width: 30vw;
  height: auto;
}

.odin {
  font: 5em 'norse';
}

.odin-logo {
  width: 20%;
  height: auto;
  padding: 12px 0;
}

.footer {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.781);
  font-size: .8rem;
}

.footer a {
  color: white;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  padding: 90px 50px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: rgb(248, 248, 248);
  height: 33vh;
  width: 80%;
}

h3 {
  margin-left: 50px;
  font-size: 1.2rem;
}

.middle {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  padding-bottom: 40px;
  box-shadow: 0 8px 4px -4px rgb(201, 198, 198);
}

.sign-up-form {
  width: 80%;
  margin-left: 50px;
}

.main-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.left {
  flex: 50%;
  
}

.right {
  flex: 50%;
}

label {
  font-size: .8rem;
  width: 100%;
  margin-top: 7px;
  padding-right: 60px;
}

input {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  width: 80%;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 14px;
  font-family: inherit;
}

input:invalid {
  outline: none;
  border: 1px solid red;
}

input:invalid:not(:placeholder-shown):not(:focus) ~ p.error {
  display: flex;
  color: red;
}

input:valid:not(:focus) ~ p.password {
  display: none;
}

.error, .error.password {
  display: none;
  position: relative;
  width: 80%;
  margin-top: 0;
  margin-bottom: 5px;
  color: red;
  font-size: .8rem;
}

.error.password {
  display: inline-flex;
  position: relative;
  width: 80%;
  margin-top: 0;
  margin-bottom: 5px;
  color: black;
  font-size: .8rem;
}

input:focus {
  outline: none;
  border: 1px solid rgb(69, 115, 240);
  box-shadow: 6px 6px 4px -4px lightblue;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.bottom {
  height: 33vh;
}

button {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 50px 10px;
  color: #FFFFFF;
  background-color: #596D48;
  border: none;
  border-radius: 3px;
  padding: 15px 50px;
  cursor: pointer;
}

button:hover {
  border: 3px solid black;
  box-shadow: 0 8px 4px -4px black;
}

button:focus {
  border: 3px solid #596D48;
  box-shadow: 0 8px 4px -4px black;
}

.log-in {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 50px;
}

.log-in a {
  color: #596D48;
}

.log-in a:hover {
  color: white;
  background-color: #596D48;
  border: 2px solid black;
  border-radius: 3px;
  padding: 4px;
}